* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
}
body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(images/app2.jpg);
    background-position: center;
}
.form-wrapper {
    position: absolute;
    margin-top: 15px;
    left: 50%;
    top: 50%;
    width: 660px;
    padding: 60px;
    padding-bottom: 29px;
    border-radius: 4px;
    background: rgba(0,0,0,0.75);
    transform: translate(-50%,-50%);
    border-radius: 3%;
}
h1 {
    text-align: center;
    padding: 40px;
    font-size: 50px;
}
.form-wrapper form{
    margin: 25px 0 70px;
    
}
#print {
    font-size: 20px;
    margin: 10px;
    background: rgba(226, 94, 6, 0.461);
    padding: 33px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 5%;
}
#stationary {
    font-size: 20px;
    margin: 10px;
    background: rgba(226, 94, 6, 0.461);
    padding: 33px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 5%;
}
#record {
    font-size: 20px;
    margin: 10px;
    background: rgba(226, 94, 6, 0.461);
    padding: 40px;
    border-radius: 5%;
}
}