<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="record.css">
</head>
<body>
    <div id="container">
        <h1 id="header">Records</h1>
    </div>
    <div class="form-wrapper">
        <form action="#">
            <div class="form-control">
                <input type="name" required>
                <label>Enter</label>
            </div>
            <div class="form-control">
                <input type="number" required>
                <label>Enter phone number</label>
            </div>
            <div class="form-control">
                <input type="number" required>
                <label>No. of sets</label>
            </div>
            <div class="form-control">
                <select required>
                    <option value="" disabled selected></option>
                    <option value="library">Library</option>
                    <option value="canteen">Canteen</option>
                    <option value="admin">Admin Block</option>
                </select>
                <label>Location</label>
            </div>
            <div class="form-control">
                <input type="date" required>
                <label></label>
            </div>
            <div class="form-control">
                <select required>
                    <option value="" disabled selected></option>
                    <option value="one">1st year - 1st sem</option>
                    <option value="one">1st year - 2nd sem</option>
                    <option value="one">2nd year - 1st sem</option>
                    <option value="one">2nd year - 2nd sem</option>
                    <option value="one">3rd year - 1st sem</option>
                    <option value="one">3rd year - 2nd sem</option>
                </select>
                <label>Year</label>
            </div>
            <div class="form-control">
                <select required>
                    <option value="" disabled selected></option>
                    <option value="branch">CSE</option>
                    <option value="branch">CSD</option>
                    <option value="branch">CSM</option>
                    <option value="branch">ECE</option>
                    <option value="branch">EEE</option>
                    <option value="branch">IT</option>
                    <option value="branch">Chemical</option>
                    <option value="branch">Mechanical</option>
                    <option value="branch">Civil</option>
                </select>
                <label>Branch</label>
            </div>
            <a href="choose.html ">
                <button type="submit" >Sumbit
            </a>
        </button>
        </form>
    </div>
</body>
</html>