<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quickup - Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body> 
    
    <div id="container">
        <h1 id="header">Quickup</h1>
    </div>
    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form action="/sign_in" method="post">
            <div class="form-control">
                <input type="number" name="number" required>
                <label for="number">Enter phone number</label>
            </div>
            <div class="form-control">
                <input type="password" name="psw" required>
                <label for="psw">Enter password</label>
            </div>
            <button type="submit">Sign In</button>
            <div class="remember-me">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
        </form>
        <p>Don't have an account? <a href="/sign_up">Sign up</a></p>
    </div>
    <script src="{{ url_for('static', filename='sign_in.js') }}"></script>

</body>
</html>
